*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

@keyframes entrada-menu
 {
0% {transform: translateX(800px);
    opacity: 0;}
50% {transform: translateX(20px);
    opacity: 0.5;}
100% {transform: translateX(0px);
    opacity: 1;

    }
}

/* entrada del logo de izquierda a derecha */
@keyframes entrada-logo
 {
0% {transform: translateX(-800px);
    opacity: 0;}
50% {transform: translateX(-20px);
    opacity: 0.5;}
100% {transform: translateX(0px);
    opacity: 1;

    }
}
 /* transicion menu sombreado y mas grande */
 #inicio:hover {
    font-size: 18px;
    color: rgb(107, 43, 226);
    text-shadow: 10px 10px 10px  black;
    
 }
 #producto:hover {
    font-size: 18px;
    color: rgb(107, 43, 226);
    text-shadow: 10px 10px 10px  black;
}
#trabajo:hover {
    font-size: 18px;
    color: rgb(107, 43, 226);
    text-shadow: 10px 10px 10px  black;
}
#contacto:hover {
    font-size: 18px;
    color: rgb(107, 43, 226);
    text-shadow: 10px 10px 10px  black;
}
#registro:hover {
    font-size: 18px;
    color: rgb(107, 43, 226);
    text-shadow: 10px 10px 10px  black;
}

    
header{border: solid 10px rgba(14 140 86 );
background-color: rgb(117, 190, 95);
border-radius: 15px;}

ul {height: 125px;}

nav {
    margin-top: 25px;
}

header nav ul li 
{
   
    font-size: 15px;
    /* display: flex;
    align-items: flex-end ; */
    animation-name: entrada-menu;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 0.2s;
   
}

a {text-decoration: none;
color: aqua;
text-shadow: 4px 4px 4px black;}


#logo {
    max-width: 125px;
    border-radius: 60px;
    
}



.contenedorLogo
{    /* logo que amor centrado */
    display: flex;
    justify-content: center;
    animation-name: entrada-logo;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 0.2s;
}
.contenedorH1
{
    /* titulo h1 centrado */
    display: flex;
    justify-content: center;
    font-size: 19px;
    text-shadow: 4px 4px 4px white;
    animation-name: entrada-menu;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 0.2s;
}
body{background-color: rgba(151, 124, 175, 0.7);}

#imagen1, #imagen2, #imagen3, #imagen4, #imagen5, #imagen6
{
    /* imagenes ajustadas al 100% del tamaño del celu */
    width: 100%;
    height: auto;
    margin-top: 25px;
    
}
.contenedorImagen :hover {
    transform: scale(1.2); 
}

.textoDescriptivo{
    text-align: justify;
    margin: 10px 10px 10px 10px;
}
.tituloSecundario{
    text-align: center;
    font-size: 25px;
}

#contenedorTabla
{
    height: 100vh;
    background-color: blueviolet;
    display: grid;
    justify-content: center;
    align-content: center;
}
/* titulo h2 que dice trabaja con nosotros */
#trabajaConNosotros
{
    display: grid;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
/* texto descriptivo trabaja con nosotros */
.textoTrabajo
{
    text-align: justify;
    margin: 5px 10px 5px 10px;
}
.imagenesTrabajaConNosotros
{
    display: grid;
    justify-content: center;
    width: 100%;
    
    padding: 40px 10px 40px 10px;
}

footer{
    
    height:50px;
    line-height:50px;
    background:black;
    color:white;
    text-align:center;
    
    bottom:0;
    left:0;
    width:100%;
 
}

@media screen and (min-width: 560px)
{
    #contenedorPrincipal{
        /* grid para poner 2 columnas de contenido */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    #imagen1, #imagen2, #imagen3, #imagen4, #imagen5, #imagen6
        {
            /* imagenes ajustadas al 100% del tamaño del celu */
            width: 80%;
            height: auto;
            margin-top: 25px;
            
        }
    .contenedorImagen 
{
            display: flex;
            justify-content: center;
}
ul li
{
    /* menu horizontal */
display:inline;
padding: 10px 10px 10px 10px;

}
ul{
    text-align: right;
    
}
}



@media screen and (min-width: 768px)
 {
  
 
   
header{border: solid 10px rgba(14 140 86 );
background-color: rgb(117, 190, 95);
border-radius: 15px;}


ul {height: 125px;}

nav {
    margin-top: 25px;
}

header nav ul li 
{
   
    font-size: 15px;
     
    
    
   
}

a {text-decoration: none;
color: aqua;
text-shadow: 4px 4px 4px black;}


#logo {
    max-width: 125px;
    border-radius: 60px;
    
}



.contenedorLogo
{    /* logo que amor centrado */
    display: flex;
    justify-content: center;
}
.contenedorH1
{
    /* titulo h1 centrado */
    display: flex;
    justify-content: center;
    font-size: 19px;
    text-shadow: 4px 4px 4px white;
}
body{background-color: rgba(151, 124, 175, 0.7);}

#imagen1, #imagen2, #imagen3, #imagen4, #imagen5, #imagen6
{
    /* imagenes ajustadas al 100% del tamaño del celu */
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    
}

#contenedorPrincipal{
    /* grid para poner 3 columnas de contenido */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
}

.contenedorImagen 
{
    display: flex;
    justify-content: center;
}






}

